<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant.css">
    <title>All Restaurants</title>
</head>
<body>
    <section class="main__nav-menu">
        <button><a href="/client/details/{{clientId}}">Profile Client</a></button>
        <button><a href="/client/update/">Edit Client</a></button>
        <button><a href="/client/delete/">Delete Client</a></button>
        <button><a href="/restaurant/">All Restaurants</a></button>
        <button><a href="/client/reservation">New Reservation!</a></button>
        <form class="main__nav-btn" action="/" method="GET">
            <button type="submit">HOME</button>
        </form>
        <form action="/api/logout" method="GET">
            <button type="submit">LOGOUT</button>
        </form>
    </section>

    <h3>Restaurants:</h3>
    <div class="main__list-reservations">
      {{#each restaurants }}
        <div class="main__list-reservations-items">
          <h2>Restaurant: {{this.name}}</h2>
          <p>Phone: {{this.phone}}</p>
          <p>Email: {{this.email}}</p>
          <p>Location: {{this.location}}</p>
          <p>Number of Tables: {{this.tables}}</p>
          <p>Capacity of Persons: {{this.persons}}</p>
          <p>Logo:</p>
          {{!-- <img src="/uploads/{{ restaurant.photo }}" alt="" width="200"> --}}
          <img src="{{ this.photo }}" alt="" width="200">
        </div>
      {{/each }}
    </div>
</body>
</html>