<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reservation-list.css">
  <title>Client Reservations</title>
</head>
<body>
  <p class="main__top-nav">Reservations:</p>
  <button><a href="/client/reservation">Back</a></button>
  <div class="main__list-reservations">
      {{#each reservations }}
        <div class="main__list-reservations-items">
          <p>Id Reservation: {{this.id}}</p>
          <p>Client: {{this.clientName}}</p>
          <p>Restaurant: {{this.restaurantName}}</p>
          <p>Date: {{this.reservationDate}}</p>
          <p>Time: {{this.reservationTime}}</p>
          <p>Persons: {{this.persons}}</p>
          <p>Restaurant Logo: </p>
          <img src="{{ this.photo }}" alt="logo restaurant" width="200">
        </div>
    {{/each }}
  </div>
</body>
</html>