<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/client.css">
    <title>{{client.name}}</title>
</head>
<body>
    <section class="main__nav-menu">
        <button><a href="/client/details/{{clientId}}">Profile Client</a></button>
        <button><a href="/client/update/">Edit Client</a></button>
        <button><a href="/client/delete/">Delete Client</a></button>
        <button><a href="/restaurant/">All Restaurants</a></button>
        <button><a href="/client/reservation">New Reservation!</a></button>
        <form class="main__nav-btn" action="/" method="GET">
            <button type="submit">HOME</button>
        </form>
        <form action="/api/logout" method="GET">
            <button type="submit">LOGOUT</button>
        </form>
    </section>
    <h2>Profile:</h2>
    <p>Client: {{client.name}}</p>
    <p>Email: {{client.email}}</p>
    <p>Photo:</p>
    {{!-- <img src="/uploads/{{ client.photo }}" alt="" width="200"> --}}
    <img src="{{ client.photo }}" alt="" width="200">
    <h3>Reservations:</h3>
    <div class="main__list-reservations">
      {{#each reservations }}
        <div class="main__list-reservations-items">
            <p>Id Reservation: {{this.id}}</p>
            <p>Client: {{this.clientName}}</p>
            <p>Restaurant: {{this.restaurantName}}</p>
            <p>Date: {{this.reservationDate}}</p>
            <p>Time: {{this.reservationTime}}</p>
            <p>Persons: {{this.persons}}</p>
            <p>Restaurant Logo: </p>
            <img src="{{ this.photo }}" alt="logo restaurant" width="200">
        </div>
      {{/each }}
    </div>
</body>
</html>