<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Deleted!</title>
</head>
    <h2>Restaurant Deleted!</h2>
    <button><a href="/">Home</a></button>
</body>
</html>