<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Deleted!</title>
</head>
<body>
    <h2>Client Deleted!</h2>
    {{!-- <button><a href="http://localhost:3000">Home</a></button> --}}
    <button><a href="/">Home</a></button>
</body>
</html>