<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/client.css">
</head>
<body>
    <main>
    <section class="main__nav-menu">
        <button><a href="/client/details/{{clientId}}">Profile Client</a></button>
        <button><a href="/client/update/">Edit Client</a></button>
        <button><a href="/client/delete/">Delete Client</a></button>
        <button><a href="/restaurant/">All Restaurants</a></button>
        <button><a href="/client/reservation">New Reservation!</a></button>
        <form class="main__nav-btn" action="/" method="GET">
            <button type="submit">HOME</button>
        </form>
        <form action="/api/logout" method="GET">
            <button type="submit">LOGOUT</button>
        </form>
    </section>
        <h2>Your profile:</h2>
        <form action="/client/update" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="clientId" value={{clientId}} readonly>
            <h2>Name:</h2>
            <input type="text" name="name" value={{client.name}}>
            <h2>Photo:</h2>
            {{!-- <img src="/uploads/{{ client.photo }}" alt="" width="200"> --}}
            <img src="{{ client.photo }}" alt="" width="200">
            <h4>Change photo:</h4>
            {{!-- <input type="file" value="../uploads/{{client.photo}}" name="photo" accept="image/png, image/jpeg, image/jpg"> --}}
            <input type="file" value="{{client.photo}}" name="photo" accept="image/png, image/jpeg, image/jpg">
            <p>-----</p>
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>