<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant.css">
    <title>{{title}}</title>
</head>
<body>
    <main>
        <h2>{{restaurant.name}}</h2>
        <form action="/restaurant/update" method="POST" enctype="multipart/form-data">
            <input type="text" name="restaurantId" value={{restaurantId}} readonly>

            <h3>Phone Contact:</h3>
            <input type="number" name="phone" value={{restaurant.phone}}>

            <h3>Where is your restaurant??</h3>
            <input type="text" name="location" value={{restaurant.location}}>

            <h3>How many tables do you have in your restaurant?</h3>
            <input type="number" name="tables" value={{restaurant.tables}}>

            <h3>What is the capacity of your restaurant (persons)?</h3>
            <input type="number" name="persons" value={{restaurant.persons}}>

            <h3>Change your logo:</h3>
            {{!-- <input type="file" value="../uploads/{{restaurant.photo}}" name="photo" accept="image/png, image/jpeg, image/jpg"> --}}
            <img src="{{ restaurant.photo }}" alt="" width="200">
            <p></p>
            <input type="file" value="{{restaurant.photo}}" name="photo" accept="image/png, image/jpeg, image/jpg">
            <div class="form__menu-bottom">
                <button type="submit">Update Data!</button>
                <button><a href="/restaurant/details/{{restaurantId}}">Back</a></button>
            </div>
        </form>
    </main>
</body>
</html>