<!DOCTYPE html>
<html>

<head>
  <title>User Error</title>
</head>

<body>
  <h1>¡Hemos tenido un error {{ status }} en nuestro servidor!</h1>
  <h3>{{ error }}</h3>
  <button><a href="/">HOME</a></button>
</body>

</html>