<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/gotoreservation.css">
    <link rel="stylesheet" href="/stylesheets/client.css">
    <script type="text/javascript" src="/javascripts/onchangerestaurant.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <main class="main">
      <section class="main__nav-menu">
        <button><a href="/client/details/{{clientId}}">Profile Client</a></button>
        <button><a href="/client/update/">Edit Client</a></button>
        <button><a href="/client/delete/">Delete Client</a></button>
        <button><a href="/restaurant/">All Restaurants</a></button>
        <button><a href="/client/reservation">New Reservation!</a></button>
        <form class="main__nav-btn" action="/reservation/client/" method="GET">
            <button type="submit">Go to my reservations</button>
        </form>
        <form class="main__nav-btn" action="/" method="GET">
            <button type="submit">HOME</button>
        </form>
        <form action="/api/logout" method="GET">
            <button type="submit">LOGOUT</button>
        </form>
      </section>
        <h2>New reservation for {{ currentUser }}.</h2>
        <section>
            <form class="main__select-restaurant" action="/reservation/add" method="POST">
                <span class="main__select-restaurant-item">Where you want to Eat??</span>
                <select id="restaurant-list" class="main__select-restaurant-item" name="restaurant">
                {{#each restaurants}}
                    <option id="restaurant-list-item" class= "{{this.email}}" value="{{this.id}}" title="{{this.phone}}">{{this.name}}</option>
                {{/each}}
                </select>
                <span class="main__select-restaurant-item">When you want to visit us??</span>
                <input class="main__select-restaurant-item" type="date" name="date">
                <span class="main__select-restaurant-item">What time do you want to eat??</span>
                <input class="main__select-restaurant-item" type="time" name="time">
                <input class="main__select-restaurant-item" type="number" name="persons" max=10 min=1 placeholder="Persons">
                <button class="main__select-restaurant-item" type="submit">Confirm Reservation!!</button>
            </form>
        </section>
        <div id="restaurantdetails" class="hidden">
            <p>Restaurant Contact:</p>
            <p id="id-restaurant"></p>
            <p id="name-restaurant"></p>
            <p id="email-restaurant"></p>
            <p id="phone-restaurant"></p>
        </div>
    </main>
</body>
</html>