<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>{{title}}</title>
</head>
<body>
    <main class="main">
        <img class="main__img" src="/assets/home.jpg" alt="">
        <section class="main__menu">
            <a class="main__menu-item" href="/api/login">Login</a>
            <a class="main__menu-item" href="/api/register">Register</a>
            <a class="main__menu-item" href="/client/reservation/">New Reservation!</span></a>
            <a class="main__menu-item" href="/api/logout">Logout</a>
        </section>
        <h1 class="main__title">www.gotoeat.com</h1>
    </main>
</body>
</html>