<!DOCTYPE html>
<html>

<head>
  <title>Client Login</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <main class="main">
    <img class="main__img" src="/assets/home.jpg" alt="">
    <section class="main__container-login-form">
      <form class="main__login-form" action="/api/login" method="POST">
        <span class="form-tittle-text main__login-form-item">LOGIN: </span>
        <input class="main__login-form-item" type="text" name="email" placeholder="Email:">
        <input class="main__login-form-item" type="password" name="password" placeholder="Password:">
        <input class="main__login-form-item main__login-form-item-btn" type="submit" value="LOGIN NOW!">
        {{#if error}}
          <p style="color: red;">{{error}}</p>
        {{/if}}
      </form>
      <button class="btnHome"><a href="/">HOME</a></button>
    </section>
    <h1 class="main__title">www.gotoeat.com</h1>
  </main>
</body>
</html>