<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Reservation</title>
</head>
<body>
  <button><a href="/client/reservation">Back</a></button>
  <p>New Reservation OK!</p>
  <p>Id Reservation: {{reservation.id}}</p>
  <p>Client: {{reservation.clientName}}</p>
  <p>Id Restaurant: {{reservation.restaurantId}}</p>
  <p>Restaurant: {{reservation.restaurantName}}</p>
  <p>Day of Reservation: {{reservation.reservationDate}}</p>
  <p>Time of Reservation: {{reservation.reservationTime}}</p>
  <p>Persons of Reservation: {{reservation.persons}}</p>
  <p>Restaurant Logo: </p>
  <img src="{{ reservation.photo }}" alt="logo restaurant" width="200">
</body>
</html>