<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>{{tittle}}</title>
</head>
<body>
    <main class="main">
        <img class="main__img" src="/assets/home.jpg" alt="">
        <section class="main__container-register-form">
            <form class="main__register-form" action="/api/register/" method="POST" enctype="multipart/form-data">
                <span class="form-tittle-text main__register-form-item">REGISTER: </span>
                <input class="main__register-form-item" type="text" name="name" placeholder="Name:">
                <input class="main__register-form-item" type="text" name="email" placeholder="Email:">
                <select class="main__register-form-item" name="role">
                    <option value="">Are you a Client or Restaurant??</option>
                    <option value="client">CLIENT</option>
                    <option value="restaurant">RESTAURANT</option>
                </select>
                <input class="main__register-form-item" type="file" name="photo" accept="image/png, image/jpeg, image/jpg">
                <input class="main__register-form-item" type="password" name="password" placeholder="Password:">
                <button class="main__register-form-item main__register-form-item-btn" type="submit">REGISTER!</button>
            </form>
            <button class="btnHome"><a href="/">HOME</a></button>
        </section>
        <h1 class="main__title">www.gotoeat.com</h1>
    </main>
</body>
</html>