<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant.css">
    <title>{{restaurant.name}}</title>
</head>
<body>
    <section class="main__nav-menu">
        <button><a href="/restaurant/update/">Edit Restaurant</a></button>
        <button><a href="/restaurant/delete/">Delete Restaurant</a></button>
        <button><a href="/">Home</a></button>
        <form action="/api/logout" method="GET">
            <button type="submit">LOGOUT</button>
        </form>
    </section>
    <h2>Restaurant: {{restaurant.name}}</h2>
    <p>Phone: {{restaurant.phone}}</p>
    <p>Email: {{restaurant.email}}</p>
    <p>Location: {{restaurant.location}}</p>
    <p>Number of Tables: {{restaurant.tables}}</p>
    <p>Capacity of Persons: {{restaurant.persons}}</p>
    <p>Logo:</p>
    {{!-- <img src="/uploads/{{ restaurant.photo }}" alt="" width="200"> --}}
    <img src="{{ restaurant.photo }}" alt="" width="200">
    <h3>Reservations:</h3>
    <div class="main__list-reservations">
    {{#each reservations }}
        <div class="main__list-reservations-items">
            <p>Id Reservation: {{this.id}}</p>
            <p>Client: {{this.clientName}}</p>
            <p>Restaurant: {{this.restaurantName}}</p>
            <p>Date: {{this.reservationDate}}</p>
            <p>Time: {{this.reservationTime}}</p>
            <p>Persons: {{this.persons}}</p>
            <p>Restaurant Logo: </p>
            <img src="{{ this.photo }}" alt="logo restaurant" width="200"> 
        </div>
    {{/each }}
    </div>
</body>
</html>