.main{
    display:flex;
    flex-direction: column;
}
.main__nav{
    display: flex;
    margin-bottom: 10px;
}
.main__select-restaurant{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.main__select-restaurant-item{
    margin-bottom: 10px;
}
.main__nav-btn{
    margin-right: 5px;
}
.hidden{
    display: none;
}