*{
    margin:0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.main__menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid white;
    color:white;
    width: 50%;
    text-align: center;
}
.main__menu-item{
    color:white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
.main__title{
    margin-top: 20px;
    color:white;
}
.main__img{
    width: 350px;
    margin-top: 20px;
}