*{
  margin:0;
  padding: 0;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.main__container-login-form{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 10px;
  color:white;
}
.main__login-form{
  display: flex;
  flex-direction: column;
  color:white;
}
.form-tittle-text{
  font-weight: bolder;
}
.btnHome{
  margin: auto;
  width: 100%;
  border: 1px solid white;
  background-color: white;
}
.main__login-form-item{
  margin-bottom: 20px;
}

.main__title{
  margin-top: 20px;
  color:white;
}
.main__img{
  width: 350px;
  margin-top: 20px;
}
.main__login-form-item-btn{
  background-color:slategrey;
  border: 1px solid white;
  color:white;
}
a{
  color:black;
}