.main__top-nav{
  color:white;
  background-color: black;
}
.main__list-reservations{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main__list-reservations-items{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top:5px;
  padding: 5px;
}