.main__nav-menu{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.main__nav-menu button{
  margin: 4px;
}
.main__list-reservations{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;  
}
.main__list-reservations-items{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

/* esto es para el hbs edit restaurant */

.form__menu-bottom{
  margin-top:10px;
}